// Store and products //
.product-container {
  padding: 0 1.7vw;
  max-width: 2000px;

  .product {
    margin: 0 auto 70px;
    max-width: 700px;
    .details {
      p {
        padding: 1vh 0 0;
      }
    }
  }

  .price {
    text-align: right;
  }

  .curvy {
    img {
      border-radius: 15px;
    }
  }
}

@supports (display: grid) {
  .product-container {
    display: grid;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .category {
      grid-column: span 2;
    }
  }

  @media (min-width: 769px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }

  @media (min-width: 1024px) {
    .product-container {
      grid-gap: 12vw;
    }
    .product {
      img {
        max-width: 400px;
      }
    }
  }

  @media (min-width: 1400px) {
    .product {
      img {
        max-width: 30vw;
      }
    }
  }
}

// Product layout
.product-details-container {
  max-width: 2000px;
  margin: 0 auto;

  .product-info {
    padding: 0 1.7vw;

    p {
      padding: 0 0 5px;
      font-size: 0.8em;
    }

    h3 {
      padding: 0;
    }

    ul {
      margin: 0 auto;
      text-align: center;
    }

    ul li {
      display: inline-block;
      width: 40px;
      padding: 10px;
      margin: 20px 0 0;
      border-radius: 100%;
      cursor: pointer;
      &:hover {
        color: $bg_col;
        background: $fg_col;
      }
    }

    .selected {
      color: $bg_col;
      background: $fg_col;
    }

    .product-description {
      margin: 30px 0;
      line-height: 22px;
    }
  }

  .add-item {
    padding: 0 1.7vw;
    margin: 0 auto;

    .add-to-bag {
      width: 95vw;
      margin: 30px 0;
      padding: 10px 0;
      border: 0.5px solid $fg_col;
      background: transparent;
      color: $fg_col;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .product-instructions {
    ul {
      margin-top: 20px;
      padding: 0 30px;
      line-height: 30px;
    }
  }
}

@media (min-width: 700px) {
  .product-details-container {
    .product-image {
      float: right;
      max-width: 300px;
    }

    .add-item {
      .add-to-bag {
        width: 60%;
      }
    }
  }
}

@media (min-width: 769px) {
  .product-details-container {
    .product-image {
      max-width: 500px;
    }

    .product-info {
      ul {
        text-align: left;
      }
    }

    .add-item {
      .add-to-bag {
        width: 30%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .product-details-container {
    .product-image {
      max-width: 700px;
    }

    .add-item {
      .add-to-bag {
        width: 27%;
      }
    }
  }
}

@supports (display: grid) {
  .product-details-container {
    display: grid;
  }

  @media (min-width: 700px) {
    .store {
      .rj-main {
        grid-row-start: 1;
        padding: 0;
        height: 100%;
      }
    }

    .product-details-container {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "space product product"
        "details product product"
        "details product product"
        "details product product"
        "details product product";
      grid-template-rows: 420px 1fr 10vh 1fr 1fr;

      .product-image {
        float: none;
        max-width: 2000px;
        grid-area: product;
        overflow: hidden;

        img {
          max-width: unset;
          height: 100%;
        }
      }

      .product-info {
        grid-area: details;
        grid-row-end: 2;
      }

      .add-item {
        grid-area: details;
        grid-row-start: 3;

        .add-to-bag {
          width: 27vw;
          max-width: 550px;
        }
      }

      .product-instructions {
        grid-area: details;
        grid-row-start: 4;
      }
    }
  }
}
