<form action="#" class="rj-form">
  <div class="row">
    <div class="form-label">
      <label for="email">Email</label>
    </div>
    <div class="form-text-input">
      <input type="email" id="email" name="your-email" />
    </div>
  </div>
  <div class="row">
    <div class="row-inline">
      <div class="form-label">
        <label for="firstname">First name</label>
      </div>
      <div class="form-text-input">
        <input type="text" id="firstname" name="first-name" />
      </div>
    </div>
    <div class="row-inline">
      <div class="form-label">
        <label for="lastname">Last name</label>
      </div>
      <div class="form-text-input">
        <input type="text" id="lastname" name="last-name" />
      </div>
    </div>
  </div>
  <input type="submit" value="Sign up" />
</form>
