<div class="rj-grid">
  <div class="rj-grid-card">
    <p>
      EDITIONS Volume #1 launches from April 14th—17th.<br />
      Made in limited numbers to maintain production integrity - these pieces
      are delivered 10-15 days after the shop closes. Pieces are individual
      labelled with their EDITIONS volume number.
    </p>
  </div>
  <div class="rj-grid-card">
    <p class="n-pd">
      Sign up here to get an exclusive preview and early access to ordering:
    </p>
    {% include editions-signup.html %}
  </div>
</div>
