<!-- <div class="product-container">
  {% assign product_order = site.shop | sort:"weight" %} {% for item in
  product_order %}
  <div class="product{%if item.class%} {{item.class}}{% endif %}">
    <a
      href="/shop/{{ item.identifier }}"
      title="Further details about {{ item.name }}"
    >
      <img src="{{ item.image }}" alt="{{ item.description }}" />
    </a>
    <div class="details">
      <p>{{ item.name }}</p>
      <p class="price">£{{ item.price }}</p>
      <p class="category">{{ item.category }}</p>
    </div>
  </div>
  {% endfor %}
</div> -->

<div id="shopify-container"></div>
