<button
  id="add-btn"
  class="add-to-bag snipcart-add-item"
  data-item-id="{{ page.identifier }}"
  data-item-name="{{ page.name }}"
  data-item-price="{{ page.price }}"
  data-item-image="{{ page.image }}"
  data-item-url="{{ page.url }}"
  data-item-description="{{ page.description }}"
  data-item-custom1-name="size"
  data-item-custom1-options="{% for size in page.available_sizes %} {% if forloop.first == true %} {{ size }} {% else %} | {{ size }} {% endif %} {% endfor %}"
>
  Add to bag
</button>
