---
layout: store
---

<div class="product-details-container">
  <div class="product-image">
    <img src="{{ page.image }}" alt="" />
  </div>
  <div class="product-info">
    <p class="rj-upper">{{ page.category }}</p>
    <h3 class="rj-upper">{{ page.name }}</h3>
    <h3>£{{ page.price }}</h3>
    <div class="product-description">
      <p>{{ page.description }}</p>
    </div>
    <a href="/store/size-guide" class="rj-upper">Size guide</a>
    <ul id="sizes-available">
      {% for size in page.available_sizes %}
      <li class="size">{{ size }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="add-item">
    {% include product-definition.html %}
  </div>
  <div class="product-instructions">
    <p class="rj-upper underline">Information</p>
    <ul>
      {% for instruction in page.instructions %}
      <li>{{ instruction }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
